<a href="">Normal Link</a>
<form method="POST">
<input type="submit" class="btn btn-primary">
<section id="variables">
  <div class="page-header">
    <h1>Bootstrap variables <small>LESS variables, their values, and usage guidelines</small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <h3>Hyperlinks</h3>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span2" data-twipsy="Default link text color"><code>@linkColor</code></td>
            <td><input type="text" name="linkColor" value="#08c" class="color"></td>
          </tr>
          <tr>
            <td data-twipsy="Default link text hover color"><code>@linkColorHover</code></td>
            <td><code>darken(@linkColor, 15%)</code></td>
          </tr>
        </tbody>
      </table>
      <h3>Grid system</h3>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span2"><code>@gridColumns</code></td>
            <td>12</td>
          </tr>
          <tr>
            <td><code>@gridColumnWidth</code></td>
            <td>60px</td>
          </tr>
          <tr>
            <td><code>@gridGutterWidth</code></td>
            <td>20px</td>
          </tr>
          <tr>
            <td><code>@fluidGridColumnWidth</code></td>
            <td>6.382978723%</td>
          </tr>
          <tr>
            <td><code>@fluidGridGutterWidth</code></td>
            <td>2.127659574%</td>
          </tr>
        </tbody>
      </table>
      <h3>Typography</h3>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span2"><code>@baseFontSize</code></td>
            <td><input type="range" value="13" min="8" max="17" name="baseFontSize"></td>
          </tr>
          <tr>
            <td><code>@baseFontFamily</code></td>
            <td><code>"Helvetica Neue", Helvetica, Arial, sans-serif</code></td>
          </tr>
          <tr>
            <td><code>@baseLineHeight</code></td>
            <td><input type="range" value="18" min="8" max="27" name="baseLineHeight"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3>Grayscale colors</h3>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span2"><code>@black</code></td>
            <td><input type="text" name="black" value="#000" class="color"></td>
          </tr>
          <tr>
            <td><code>@grayDarker</code></td>
            <td><input type="text" name="grayDarker" value="#222" class="color"></td>
          </tr>
          <tr>
            <td><code>@grayDark</code></td>
            <td><input type="text" name="grayDark" value="#333" class="color"></td>
          </tr>
          <tr>
            <td><code>@gray</code></td>
            <td><input type="text" name="gray" value="#555" class="color"></td>
          </tr>
          <tr>
            <td><code>@grayLight</code></td>
            <td><input type="text" name="grayLight" value="#999" class="color"></td>
          </tr>
          <tr>
            <td><code>@grayLight</code></td>
            <td><input type="text" name="grayLight" value="#eee" class="color"></td>
          </tr>
          <tr>
            <td><code>@white</code></td>
            <td><input type="text" name="white" value="#fff" class="color"></td>
          </tr>
        </tbody>
      </table>
      <h3>Accent colors</h3>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span2"><code>@blue</code></td>
            <td><input type="text" name="blue" value="#049cdb" class="color"></td>
          </tr>
          <tr>
            <td><code>@green</code></td>
            <td><input type="text" name="green" value="#46a546" class="color"></td>
          </tr>
          <tr>
            <td><code>@red</code></td>
            <td><input type="text" name="red" value="#9d261d" class="color"></td>
          </tr>
          <tr>
            <td><code>@yellow</code></td>
            <td><input type="text" name="yellow" value="#ffc40d" class="color"></td>
          </tr>
          <tr>
            <td><code>@orange</code></td>
            <td><input type="text" name="orange" value="#f89406" class="color"></td>
          </tr>
          <tr>
            <td><code>@pink</code></td>
            <td><input type="text" name="pink" value="#c3325f" class="color"></td>
          </tr>
          <tr>
            <td><code>@purple</code></td>
            <td><input type="text" name="purple" value="#7a43b6" class="color"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /row -->

  <h3>Components</h3>
  <div class="row">
    <div class="span6">
      <h4>Buttons</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@primaryButtonBackground</code></td>
            <td><code>@linkColor</code></td>
          </tr>
        </tbody>
      </table>
      <h4>Forms</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@placeholderText</code></td>
            <td><code>@grayLight</code></td>
          </tr>
        </tbody>
      </table>
      <h4>Navbar</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@navbarHeight</code></td>
            <td><input type="range" min="0" max="150" value="40" name="navbarHeight" data-type="px"/></td>
          </tr>
          <tr>
            <td><code>@navbarBackground</code></td>
            <td><code>@grayDarker</code></td>
          </tr>
          <tr>
            <td><code>@navbarBackgroundHighlight</code></td>
            <td><code>@grayDark</code></td>
          </tr>
          <tr>
            <td><code>@navbarText</code></td>
            <td><code>@grayLight</code></td>
          </tr>
          <tr>
            <td><code>@navbarLinkColor</code></td>
            <td><code>@grayLight</code></td>
          </tr>
          <tr>
            <td><code>@navbarLinkColorHover</code></td>
            <td><code>@white</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h4>Form states and alerts</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@warningText</code></td>
            <td><input type="text" name="waringText" value="#f3edd2" class="color"></td>
          </tr>
          <tr>
            <td><code>@warningBackground</code></td>
            <td><input type="text" name="warningBackground" value="#c09853" class="color"></td>
          </tr>
          <tr>
            <td><code>@errorText</code></td>
            <td><input type="text" name="errorText" value="#b94a48" class="color"></td>
          </tr>
          <tr>
            <td><code>@errorBackground</code></td>
            <td><input type="text" name="errorBackground" value="#f2dede" class="color"></td>
          </tr>
          <tr>
            <td><code>@successText</code></td>
            <td><input type="text" name="successText" value="#468847" class="color"></td>
          </tr>
          <tr>
            <td><code>@successBackground</code></td>
            <td><input type="text" name="successBackground" value="#dff0d8" class="color"></td>
          </tr>
          <tr>
            <td><code>@infoText</code></td>
            <td><input type="text" name="infoText" value="#3a87ad" class="color"></td>
          </tr>
          <tr>
            <td><code>@infoBackground</code></td>
            <td><input type="text" name="infoBackground" value="#d9edf7" class="color"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /row -->

</section>
</form>